.forgotPasswordContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPasswordBox {
    background-color: white;
    width: 50vw;
    height: 70vh;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid rgb(199, 198, 198)
}

.forgotPasswordHeading {
    text-align: center;
    color: rgba(0, 0, 0, 0.664);
    font: 400 20px "Roboto";
    padding: 1.3vmax;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    width: 50%;
    margin: auto;
}

.forgotPasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
}

.text{
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 300;
}

.forgotPasswordForm>div {
    display: flex;
    width: 100%;
    align-items: center;
}

.forgotPasswordForm>div>input {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 16px cursive;
    outline: none;
}

.forgotPasswordForm>div>svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
}

.forgotPasswordBtn {
    border: none;
    background-color: rgb(0, 100, 115);
    color: white;
    font: 300 16px "Roboto";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

.forgotPasswordBtn:hover {
    background-color: rgb(2, 62, 108);
}

@media screen and (max-width: 600px) {

    .forgotPasswordBox {
        background-color: #f8fdff;
        border: none;
        height: 70vh;
        width: 100vw;
    }

    .forgotPasswordForm {
        padding: 5vmax;
    }

    .forgotPasswordForm>div>input {
        padding: 2.5vmax 5vmax;
        font: 300 1.7vmax cursive;
    }

    .forgotPasswordForm>div>svg {
        font-size: 2.8vmax;
    }

    .forgotPasswordBtn {
        font: 300 1.9vmax "Roboto";
        padding: 1.8vmax;
    }
}